{
  "env": {
    "node": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "rules": {
    "no-constant-condition": 0,
    "indent": ["error", 2],
    "no-console": "warn"
  },
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": ["*.test.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
